body {
	background-color: #e6e6e6;
	background-image: linear-gradient(to bottom right, #8d44ad, #beb02e);
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	height: 935px;
	
}
header {
	background-color: rgba(255, 255, 255, 0.3);
	padding: 20px;
	border-radius: 5px;
	margin: 5px;
	height: 30px;
	display: flex;
	align-items: center;
	color: #ffffff;
}

header img {
	border-radius: 50%;
	height: 35px;
	width:35px;
	margin: 0 20px 0 0;
}

.container {
	display: flex;
	justify-content: space-around;
}

.listTabs {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	padding: 20px;
	width: 300px;
	margin: 25vh 0 0 0;
	box-shadow: 5px 5px 42px #2d2d2d;
	color: #3b1616;
}

.listTab_header span{
	font-size : 25px;
	font-weight: bold;
	color: #ffffff;
}

.listTab_header {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	padding: 5px;
}

.content_container {
	display: flex;
	justify-content: space-between;
	margin: 5px 0 0 0;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 0 10px;
	border-radius: 5px;
}

.content_container:hover {
	background-color: rgba(255, 0, 0, 0.1);
}
/*media query------------------------------------------------*/

@media screen and (max-width: 780px) {

	body {
		background-image: linear-gradient(to bottom right, #2a798f, #313340);
	}
	.container {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
	}
	.listTabs {
		background-color: rgba(255, 255, 255, 0.3);
		border-radius: 5px;
		padding: 20px;
		width: 65%;
		margin: 50px 0 0 0;
	}
}

@media screen and (max-width: 280px) {
	.listTabs {
		width: 90%;
	}
}